html {
  /* CMS Main Color Variables */
  --cms-bg: white;
  --cms-bg-dark: #222;
  --cms-main: rgb(113, 155, 155);
  --cms-main-dark: rgb(113, 155, 155);
  --cms-link: rgb(113, 155, 155);
  --cms-link-dark: rgb(113, 155, 155);
  --cms-text: black;
  --cms-text-dark: white;
  --cms-border: #e2e2e2;
  --cms-border-dark: #555;
  /* CMS Other Variables */
  --cms-danger: indianred;
  --cms-font: sans-serif;
}
html.dark {
  --cms-bg: var(--cms-bg-dark);
  --cms-main: var(--cms-main-dark);
  --cms-link: var(--cms-link-dark);
  --cms-text: var(--cms-text-dark);
  --cms-border: var(--cms-border-dark);
}
@media (prefers-color-scheme:dark) {
  html {
    --cms-bg: var(--cms-bg-dark);
    --cms-main: var(--cms-main-dark);
    --cms-link: var(--cms-link-dark);
    --cms-text: var(--cms-text-dark);
    --cms-border: var(--cms-border-dark);
  }
}

/* Styles for all forms */

.cms-helptext {
  font-size: 80%;
  opacity: .6;
}

/* Styles for SvelteCMS */

.sveltecms {
  background-color: var(--cms-bg);
  color: var(--cms-text);
  border-color: var(--cms-main);
}

.sveltecms input,
.sveltecms select,
.sveltecms textarea {
  background-color: var(--cms-bg);
  color: var(--cms-text);
  border: 1px solid var(--cms-main);
  border-bottom-width: 2px;
  padding: .2em .5em;
}

/* Helpers */
.sveltecms .left, .sveltecms th { text-align:left; }
.sveltecms .right { text-align:right; }
.sveltecms .center { text-align:center; }

/* Tables */
.sveltecms table {
  max-width: 1190px;
}

/* Tags */

.sveltecms ul.svelte-tags-input-matchs {
  z-index: 1;
  background: var(--cms-bg) !important;
  border-color: var(--cms-main) !important;
}
.sveltecms ul.svelte-tags-input-matchs li:hover,
.sveltecms ul.svelte-tags-input-matchs li.focus {
  background: var(--cms-main) !important;
  color: var(--cms-text) !important;
}
.sveltecms div.svelte-tags-input-layout {
  background: var(--cms-bg) !important;
  border-color: var(--cms-main) !important;
}
.sveltecms span.svelte-tags-input-tag {
  background: var(--cms-main) !important;
  color: var(--cms-text) !important;
}
.sveltecms .svelte-tags-input-tag-remove:before {
  content: "  ";
  white-space: pre;
}

/* Buttons */

.sveltecms a {
  color:var(--cms-link);
}
.sveltecms button,
.sveltecms a.button {
  font-family: var(--cms-font);
  font-size: 90%;
  text-decoration:none;
  cursor:pointer;
  color:var(--cms-main);
  border-color:var(--cms-main);
  background:transparent;
  padding: 0 .8em;
  line-height: 2.2em;
  border-radius: 1em;
  border: 2px solid var(--cms-main);
  display: inline-block;
  text-transform: lowercase;
}
.sveltecms button.small,
.sveltecms a.button.small {
  font-size: 80%;
  border-width: 1px;
}

.sveltecms .danger,
.sveltecms a.button.danger {
  color:var(--cms-danger);
}

.sveltecms button.link {
  border:none;
  background: var(--cms-bg);
  color: var(--cms-link);
}

.sveltecms button.primary,
.sveltecms button.highlight,
.sveltecms a.button.primary,
.sveltecms a.button.highlight,
.sveltecms button.danger,
.sveltecms button[type="submit"] {
  background: var(--cms-main);
  color: var(--cms-bg);
  border: none;
  padding-top: 1px;
}

.sveltecms button.primary,
.sveltecms a.button.primary,
.svetlecms a.button.danger,
.sveltecms button[type="submit"] {
  font-weight: bold;
}

.sveltecms button.danger,
.sveltecms a.button.danger {
  background: var(--cms-danger);
}

.disabled,
.sveltecms button:disabled,
.sveltecms button.primary:disabled,
.sveltecms button.danger:disabled,
.sveltecms button[type="submit"]:disabled {
  cursor: default;
  opacity: .5;
  filter: grayscale(100%);
}

.sveltecms button.borderless,
.sveltecms a.borderless {
  border:none !important;
}

.sveltecms button.cancel,
.sveltecms a.button.cancel {
  font-size:22px;
  line-height: 24px;
  padding: 0 7px 2px;
  background: var(--cms-bg);
}

/* Layout */

.sveltecms .cms-admin {
  padding: 0 20px;
}
.sveltecms div.field {
  padding: .5em;
}
.sveltecms div.field label>span:first-child {
  display: block;
}
.sveltecms textarea,
.sveltecms fieldset {
  box-sizing: border-box;
  width: 100%;
}

.sveltecms fieldset {
  border: none;
  margin: .4em 0;
  border-radius: .5em;
  padding: .8em .5em;
}
.sveltecms fieldset.fieldgroup>legend {
  background: var(--cms-main);
}
.sveltecms fieldset.multiple>legend {
  padding:0;
}
.sveltecms fieldset>legend button {
  line-height: 1em;
  padding:0;
}
.sveltecms fieldset.collapsed {
  border-radius: 0;
  padding:0 .5em;
}
.sveltecms fieldset.collapsed>div {
  display:none;
}
.sveltecms fieldset.fieldgroup>legend>label>span:first-child { display:none; }
.sveltecms fieldset>legend {
  padding: .7em 1.4em;
  border-radius: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.sveltecms fieldset.multiple>div.multiple-item>label>span:first-child { display:none; }

div.cms-editor { width:100%; overflow:hidden; display:flex; flex-direction: row-reverse; }
div.cms-editor-preview { overflow:scroll; resize:horizontal; width:50%; max-height:100vh; position:relative; }
div.cms-editor-form { overflow-y:scroll; flex-grow:1; width:0; max-height:100vh; }
