/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Some styles are needed because of tailwind resets */
input,
select,
textarea {
  background-color: var(--cms-background);
  color: var(--cms-text);
  border: 1px solid var(--cms-main);
  border-bottom-width: 2px;
  padding: .2em .5em;
}